body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 75%;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: hsl(213, 19%, 18%);
  border: red 1px;
}
