body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Overpass", sans-serif;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: hsl(213, 19%, 18%);
  padding: 30px 10px;
  margin: 0 2rem;
}

.thanks-card {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: hsl(213, 19%, 18%);
  padding: 30px 10px;
  margin: 0 2rem;
}

.thank-you {
  display: flex;
  justify-content: center;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: hsl(25, 97%, 53%);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 1rem;
  text-align: left;
  margin: 0 5px;
}

p, .thanks {
  text-align: center;
}

.rate {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.circle {
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: hsl(216deg 8% 28%);
  color: hsl(217, 12%, 63%);
  border-radius: 50%;
  line-height: 35px;
}

.circle:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor:pointer;
}

button {
  display: inline-block;
  align-self: center;
  background-color: hsl(25, 97%, 53%);
  border-radius: 40px;
  border: 1px solid hsl(213, 19%, 18%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.75rem;
  padding: 20px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2rem;
}

button:hover {
  background-color: hsl(0, 0%, 100%);
  color:hsl(25, 97%, 53%);
}

.circle-star {
  background-color: hsl(216deg 8% 28%);
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate-selected {
  background-color: hsl(216, 12%, 8%);
  border-radius: 40px;
  border: 1px solid hsl(213, 19%, 18%);
  width: 50vw;
  align-self: center;
  margin-top: 50px;
}




  